/* My Styles */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
 
body{

    background-color: #034b75;
    font-family: Abril Fatface;
    font-size: 28px;
    line-height: 1.5;
    color: rgb(252, 113, 113);
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 200px;
    
}


img{
    position: relative;
    bottom: 100px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    
}

figure{
    display: inline-block;
    height: 500px;
    width: 400px;
    margin: 50px;
    border-radius: 10%;
    background-color:#046BA7;
    filter: drop-shadow(2px 2px 0.25rem #000000);
    
    
   
    
}

figcaption{
   position:relative;
   left: 0;
   top: 350px;
}
 
p{
    position: relative;
    top: 350px;
    font-size: 20px;
    
}
